
header{
	background-image: url(../pic7.jpg);
	height:100vh;
	background-size: cover;
	background-position: center;

}
.loginbox{
width:320px;
height:580px;
background:rgba(0,0,0,0.6);
top:40%;
left:50%;
position:absolute;
transform:translate(-50%,-50%);
box-sizing:border-box;
padding:140px 30px;
color:#fff;
}

h1
{
margin:0;
padding:0 px;
text-align:top-center;
font-size:32px;
}

.loginbox input{
width:100%;
margin-bottom:20px;
}
.loginbox input[type="text"],input[type="password"]
{
border:none;
border-bottom:1px solid #000;
background:transparent;
outline:none;
height:48px;
color:#fff;
font-size:16px;
}
.select {
  position: relative;
  font-family: Arial;
}

.loginbox input[type="submit"]
{
border:none;
outline:none;
height:30px;
background:#fb2525;
color:#fff;
font-size:18px;
border-radius:20px;
}
.loginbox input[type="submit"]:hover
{
cursor:pointer;
background:#ffc107;
color:#000;
}
.loginbox a
{
text-decoration:none;
font-size:12px;
line-height:20px;
color:darkgrey;
}
.loginbox a:hover
{
color:#ffc107;
}